apiVersion: v1
kind: ServiceAccount
metadata:
  name: seldon-engine
  namespace: "{{ meta.namespace }}"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels: &Labels
    app.kubernetes.io/name: seldon-core
    app.kubernetes.io/component: seldon-core-operator
    app: seldon-cluster-manager-server    
    chart: seldon-core-0.2.8-SNAPSHOT
    release: seldon-core
    heritage: Tiller
    component: seldon-core
  name: seldon-core-seldon-cluster-manager
  namespace: "{{ meta.namespace }}"
spec:
  replicas: 1
  selector:
    matchLabels: *Labels
  template:
    metadata:
      labels: *Labels
    spec:
      serviceAccountName: seldon
      containers:
      - env:
        - name: JAVA_OPTS
          value: 
        - name: SPRING_OPTS
          value: 
        - name: SELDON_CLUSTER_MANAGER_REDIS_HOST
          value: seldon-core-redis-master
        - name: ENGINE_CONTAINER_IMAGE_AND_VERSION
          value: seldonio/engine:0.2.8-SNAPSHOT
        - name: ENGINE_CONTAINER_IMAGE_PULL_POLICY
          value: IfNotPresent
        - name: ENGINE_CONTAINER_SERVICE_ACCOUNT_NAME
          value: seldon-engine
        - name: SELDON_CLUSTER_MANAGER_SINGLE_NAMESPACE
          value: 'true'
        - name: ENGINE_CONTAINER_USER
          value: '{{ project_info.resources[0].metadata.annotations['openshift.io/sa.scc.uid-range'].split('/')[0] }}'
        - name: PREDICTIVE_UNIT_SERVICE_PORT
          value: '9000'
        - name: ENGINE_SERVER_GRPC_PORT
          value: '5001'
        - name: ENGINE_SERVER_PORT
          value: '8000'
        - name: ENGINE_PROMETHEUS_PATH
          value: prometheus
        - name: SELDON_CLUSTER_MANAGER_POD_NAMESPACE
          valueFrom:
            fieldRef:
              apiVersion: v1
              fieldPath: metadata.namespace
        image: seldonio/cluster-manager:0.2.8-SNAPSHOT
        imagePullPolicy: IfNotPresent
        name: seldon-cluster-manager-container
        securityContext: {}
        ports:
        - containerPort: 8080
          protocol: TCP
      terminationGracePeriodSeconds: 1
